---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  tags: string[];
  image: {
    src: string;
    alt: string;
  }
  href: {
    details: string;
    repo: string;
    source: string;
  };
}

export {type Props as ProjectCardProps};


const { title, description, tags, image, href }: Props = Astro.props
---

<div class="bg-base-200 border-default p-4 rounded-3xl">
  <figure class="rounded-xl mb-4 overflow-hidden">
    <img src={image.src} alt={image.alt}>
  </figure>

  <div class="flex flex-col gap-y-4">
    <div class="flex justify-between">
      <h2 class="text-2xl">{title}</h2>
      <ul class="gap-x-2 rounded-xl hidden xs:flex">
        {tags.map((tag) => (
          <li class="badge rounded-xl badge-outline badge-lg p-4 capitalize">
              <a href={`/projects?tag=${tag}`}>{tag}</a>
            </li>
        ))}
      </ul>

      
    </div>
    
    <p class="text-neutral-400">{description}</p>

    <a href={href.details} class="flex items-center gap-x-2 hover:gap-x-3">
      Learn More
        <Icon name="arrow-right" />
    </a>
  </div>
</div>
