---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'
import { getSkillsData, getJobsData } from '../lib/cosmic';
import { marked } from 'marked';

const formatDate = (date: Date) => {
	return date.toLocaleString('en-US', { month: 'long', year: 'numeric' })
}

const skills = await getSkillsData()
const jobs = await getJobsData()
---
<Layout title="About - Dawid Seipold" description='Dawid Seipold, a Frontend Developer based in Bydgoszcz, passionate about creating functional and enjoyable digital experiences. Exploring backend development and coding in C++. Outside of coding, I enjoy powerlifting, mountain biking, and trading. Always seeking new challenges and ways to improve skills.'>
	<section class="prose lg:prose-lg mx-auto">
		<h1>About Me</h1>
		<p>
			I'm Dawid Seipold, a Frontend Developer based in Bydgoszcz. I've always been passionate about technology and its potential to serve people, which is why I enjoy creating apps so much. I find it incredibly satisfying to create digital experiences that are both functional and enjoyable to use, and I believe that a good solution can have a positive impact on people's lives. Recently I've been exploring the world of backend which I find very interesting and challenging. I'm always looking for new ways to improve my skills and learn new technologies, which is why outside of webdev I'm also interested in coding in C++.
		</p>

		<figure class="overflow-hidden rounded-xl w-full h-64">
			<img src="/me.jpg" alt="Dawid Seipold" class="w-full h-full object-cover" />
		</figure>

		<p>
			When I'm not coding, I love to lift heavy weights in the gym or being active outside. Powerlifting and mountain biking are two of my favorite activities, and I'm always looking for new personal record to set or trails to conquer. Recently I've also developed a passion to trading and I find it very satisfying whenever a trade makes me a profit. I'm always seeking out new challenges and experiences, both in my personal life and in my coding work.
		</p>
	</section>

	<section class="flex flex-col gap-y-4 mt-8 mx-auto max-w-prose lg:text-lg">
		<div class="prose lg:prose-lg mb-4">
			<h2>Skills</h2>
			<p>
				Throughout my years of experience, I have explored and mastered numerous technologies.
			</p>
		</div>

		<ul class="not-prose flex flex-col gap-y-2">
			{skills.map(skill => (
				<li class="p-4 rounded-2xl border-default flex flex-col gap-y-4">
					<a href={skill.metadata.website && skill.metadata.website} target="_blank" rel="noopener noreferrer" class="flex gap-x-2 items-center">
						<div class="flex justify-center items-center w-8 h-8 min-w-8 rounded-md overflow-hidden">

						<Icon name={`technologies/${skill.slug}`} class='w-full h-full' />
						</div>

						<h3 class="text-lg font-semibold">{skill.title}</h3>
					</a>

					<div class="flex flex-col gap-y-2">
						<p class="text-white/50 text-sm">
							{skill.metadata.description}
						</p>
						
						{skill.metadata.subskills && (
							<ul class="flex gap-x-2 transition-all mt-2">
								{skill.metadata.subskills.map(subskill => (
									<a href={subskill.metadata.website && subskill.metadata.website} target="_blank" rel="noopener noreferrer" class="tooltip" data-tip={subskill.title}>
										<li class="p-2 border-default rounded-lg">
											<Icon name={`technologies/${subskill.slug}`} class="rounded-sm" />
										</li>
									</a>
								))}
							</ul>
						)}
					</div>
				</li>
			))}
		</ul>
	</section>

	<section class="mt-8 mx-auto max-w-prose lg:text-lg">
		<div class="prose lg:prose-lg mb-4">
			<h2>Experience</h2>
			<p>Over the course of my career, I have gained extensive experience in many fields. Here are some of them.</p>
		</div>

		<ul class="flex flex-col gap-y-2 text-md">
			{jobs.map(job => (
				<li class="collapse rounded-xl border-default">
					<input type="checkbox" class="peer" />
					
					<div class="!flex gap-x-4 p-4 collapse-title items-start">
						<figure class="rounded-xl overflow-hidden w-12 h-12 min-w-12 mt-1">
							<Icon name={`companies/${job.metadata.company_slug}`} class="w-full h-full" />
						</figure>
		
						<div class="flex flex-col prose">
							<h3 class="text-lg font-semibold mb-0">{job.metadata.job_title}</h3>
							<a href={job.metadata.company_website && job.metadata.company_website} target="_blank" rel="noopener noreferrer" class="z-10 flex gap-x-2 text-white/50">
								{job.metadata.company}
							</a>
						</div>
					</div>

					<Icon name="chevron-up" size={24} class="absolute text-white/75 top-4 right-4 rotate-180 peer-checked:rotate-0 group-checked:bg-red-500" />

					<ul class="collapse-content flex flex-col">
						{job.metadata.roles.map(role => (
							<li class="relative flex mb-4 before:content-[''] before:z-30 before:bg-base-300 before:flex before:rounded-full before:mt-2.5 before:mr-4 before:min-w-2 before:w-2 before:h-2 after:content-[''] after:absolute after:left-0.5 after:top-0 after:rounded-full after:mt-3 after:bg-base-200 after:w-1 after:h-[calc(100%+1rem)] last:after:content-none" data-content="">
							<div class="flex flex-col gap-y-2 items-start text-start">
								<div>
									<h4 class="text-md font-semibold">{role.metadata.role_title}</h4>
									<span class="flex gap-x-1 text-white/50 text-sm font-semibold tracking-wide">
										<time>
											{formatDate(new Date(role.metadata.date.start))}
										</time>

										{ 
											role.metadata.date.end
												? (<span>-</span> <time>{formatDate(new Date(role.metadata.date.end))}</time>)
												: (<span>-</span> <span>Present</span>)
										}
									</span>
								</div>

								{role.metadata.description && (
									<article class="text-white/75 prose" set:html={marked.parse(role.metadata.description)} />
								)}
							</div>
						</li>
						))}
					</ul>
				</li>
			))}
		</ul>
	</section>
</Layout>