---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'
import { getSkillsData, getJobsData } from '../lib/cosmic';
import { marked } from 'marked';

const formatDate = (date: Date) => {
	return date.toLocaleString('en-US', { month: 'long', year: 'numeric' })
}

const skills = await getSkillsData()
const jobs = await getJobsData()
---
<Layout title="Dawid Seipold">
	<section class="prose lg:prose-lg mx-auto">
		<h1>About Me</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, harum aspernatur? Iste magnam accusamus nihil aspernatur voluptate asperiores corrupti, omnis placeat sit autem, alias perferendis, repellat architecto voluptatem eum ipsam?
		</p>

		<figure class="overflow-hidden rounded-xl w-full h-64">
			<img src="/me.jpg" alt="Dawid Seipold" class="w-full h-full object-cover" />
		</figure>

		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, harum aspernatur? Iste magnam accusamus nihil aspernatur voluptate asperiores corrupti, omnis placeat sit autem, alias perferendis, repellat architecto voluptatem eum ipsam?
		</p>
	</section>

	<section class="flex flex-col gap-y-4 mt-8 mx-auto max-w-prose lg:text-lg">
		<div class="prose lg:prose-lg mb-4">
			<h2>Experience</h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, quia. Excepturi, ducimus.</p>
		</div>

		<ul class="not-prose flex flex-col gap-y-2">
			{skills.map(skill => (
				<li class="p-4 rounded-2xl border-default flex flex-col gap-y-4">
					<a href={skill.metadata.website && skill.metadata.website} class="flex gap-x-2 items-center">
						<div class="flex justify-center items-center w-8 h-8 min-w-8 rounded-md overflow-hidden">

						<Icon name={`technologies/${skill.slug}`} class='w-full h-full' />
						</div>

						<h3 class="text-lg font-semibold">{skill.title}</h3>
					</a>

					<div class="flex flex-col gap-y-2">
						<p class="text-white/50 text-sm">
							{skill.metadata.description}
						</p>
						
						{skill.metadata.subskills && (
							<ul class="flex gap-x-2 transition-all mt-2">
								{skill.metadata.subskills.map(subskill => (
									<a href={subskill.metadata.website && subskill.metadata.website} class="tooltip" data-tip={subskill.title}>
										<li class="p-2 border-default rounded-lg">
											<Icon name={`technologies/${subskill.slug}`} class="rounded-sm" />
										</li>
									</a>
								))}
							</ul>
						)}
					</div>
				</li>
			))}
		</ul>
	</section>

	<section class="mt-8 mx-auto max-w-prose lg:text-lg">
		<div class="prose lg:prose-lg mb-4">
			<h2>Experience</h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, quia. Excepturi, ducimus.</p>
		</div>

		<ul class="flex flex-col gap-y-2 text-md">
			{jobs.map(job => (
				<li class="collapse rounded-xl border-default">
					<input type="checkbox" class="peer" />
					
					<div class="!flex gap-x-4 p-4 collapse-title items-start">
						<figure class="rounded-xl overflow-hidden w-12 h-12 min-w-12 mt-1">
							<Icon name={`companies/${job.metadata.company_slug}`} class="w-full h-full" />
						</figure>
		
						<div class="flex flex-col prose">
							<h3 class="text-lg font-semibold mb-0">{job.metadata.job_title}</h3>
							<a href={job.metadata.company_website && job.metadata.company_website} class="z-10 flex gap-x-2 text-white/50">
								{job.metadata.company}
							</a>
						</div>
					</div>

					<Icon name="chevron-up" size={24} class="absolute text-white/75 top-4 right-4 rotate-180 peer-checked:rotate-0 group-checked:bg-red-500" />

					<ul class="collapse-content flex flex-col">
						{job.metadata.roles.map(role => (
							<li class="relative flex mb-4 before:content-[''] before:z-30 before:bg-base-300 before:flex before:rounded-full before:mt-2.5 before:mr-4 before:min-w-2 before:w-2 before:h-2 after:content-[''] after:absolute after:left-0.5 after:top-0 after:rounded-full after:mt-3 after:bg-base-200 after:w-1 after:h-[calc(100%+1rem)] last:after:content-none" data-content="">
							<div class="flex flex-col gap-y-2 items-start text-start">
								<div>
									<h4 class="text-md font-semibold">{role.metadata.role_title}</h4>
									<span class="flex gap-x-1 text-white/50 text-sm font-semibold tracking-wide">
										<time>
											{formatDate(new Date(role.metadata.date.start))}
										</time>

										{ 
											role.metadata.date.end
												? (<span>-</span> <time>{formatDate(new Date(role.metadata.date.end))}</time>)
												: (<span>-</span> <span>Present</span>)
										}
									</span>
								</div>

								{role.metadata.description && (
									<article class="text-white/75 prose" set:html={marked.parse(role.metadata.description)} />
								)}
							</div>
						</li>
						))}
					</ul>
				</li>
			))}
		</ul>
	</section>
</Layout>