---
import { Icon } from "astro-icon/components";
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = (() => {
  // TOOD: fetch data here
  const names = ['something', 'else', 'here']
  
  return names.map(name => {
    return {
      params: { name }
    }
  })
}) satisfies GetStaticPaths;

const tags = ['tag1', 'tag2', 'tag3']

const { name } = Astro.params
---

<Layout title={name}>
  <div class="flex flex-col gap-y-4">
    <div class="flex justify-between items-center w-full mb-4">
      <div class="prose lg:prose-lg">
        <h1 class="mb-0 capitalize">{name}</h1>
      </div>

      <a href="/projects" class="sticky top-4 self-end w-12 h-12 p-2 border-default flex justify-center items-center rounded-xl backdrop-blur-lg bg-base-200/75 hover:bg-base-300">
        <Icon name="x" size={24} />
      </a>
    </div>
    
    <figure class="overflow-hidden rounded-2xl lg:rounded-3xl">
      <img src={`/placeholder.png`} alt={name} class="image-full">
    </figure>
    
    <div class="flex mb-8 items-center">
      <ul class="gap-x-2 rounded-xl hidden text-sm xs:flex w-full">
        {tags.map((tag) => (
          <a href={`/projects?tags=${tag}`} class="border-default rounded-xl py-2 px-3 capitalize">
            <li>
              {tag}
            </li>
          </a>
        ))}
      </ul>

      <ul class="flex gap-x-2 items-center">
        <a href="https://github.com/dawidseipold/repo" class="border-default p-2 rounded-xl">
          <li>
            <Icon name="github" size={20} />
          </li>
        </a>

        <a href="https://link.com" class="p-2 border-default rounded-xl">
          <li>
            <Icon name="link" size={20} />
          </li>
        </a>
      </ul>
    </div><!-- TODO: Create a custom component for tags -->
      
    <article class="prose lg:prose-lg mx-auto first-of-type:prose-h2:mt-0">
      <h2>Overview</h2>
      
      <p>For this project, I designed an app that allows users to explore AI-generated art. My goal was to create an app that would not only showcase the beauty and complexity of AI-generated art but also allow users to interact with it in a meaningful way. To achieve this, I conducted extensive user research, analyzing existing apps and interviewing art enthusiasts and collectors.</p>

      <h2>Solution</h2>
      <p>Based on this research, I designed an app that features a clean and modern interface with a focus on the art itself. The app includes a variety of filters and search options that allow users to easily discover new pieces of art and explore different themes and styles. I also incorporated a social aspect into the app, allowing users to share their favorite pieces of art with friends and connect with other art enthusiasts.</p>

      <h2>Results</h2>
      <p>Since launching the app, it has received positive feedback from both users and art critics, who have praised its clean and user-friendly interface as well as its ability to showcase the beauty and complexity of AI-generated art. The app has also been featured in several art publications and has gained a loyal following of art enthusiasts and collectors. Overall, I am proud of the work I did on this project and believe it demonstrates my ability to design user-centered experiences that meet the needs of specific user groups while also pushing the boundaries of what is possible with technology.</p>
    </article>
  </div>
</Layout>