---
import '../styles/base.css'
import { Icon } from 'astro-icon/components'
import Button, { type Color } from '../components/nav/button.astro';
import Menu from '../components/nav/menu.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

const pages = [
	{
		title: 'Dawid Seipold',
		href: '/',
		icon: 'home',
		color: 'secondary'
	},
	{
		title: 'About',
		href: '/about',
		icon: 'about',
		color: 'info'
	},
	{
		title: 'Projects',
		href: '/projects',
		icon: 'projects',
		color: 'warning'
	},
	{
		title: 'Blog',
		href: '/blog',
		icon: 'blog',
		color: 'success'
	},
	{
		title: 'Contact',
		href: '/contact',
		icon: 'contact',
		color: 'error'
	},
]

const {pathname} = Astro.url
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	
	<body class="p-4 pb-28 xs:p-8 xs:pb-28 flex min-h-screen justify-center items-center">
		<div class="z-10 max-w-6xl w-full mx-auto">
			<Menu pages={pages} pathname={pathname} />
			<!-- <h1 class="text-3xl mb-4 xs:mb-8 md:text-4xl lg:text-5xl lg:mb-12 mx-auto w-max">{title}</h1> -->
			<slot />
		</div>
	</body>
</html>

