---
import '../styles/base.css'
import Menu from '../components/nav/menu.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

const pages = [
	{
		title: 'Dawid Seipold',
		href: '/',
		icon: 'home',
		color: 'secondary'
	},
	{
		title: 'About',
		href: '/about',
		icon: 'about',
		color: 'info'
	},
	{
		title: 'Projects',
		href: '/projects',
		icon: 'projects',
		color: 'warning'
	},
	{
		title: 'Blog',
		href: '/blog',
		icon: 'blog',
		color: 'success'
	},
	{
		title: 'Contact',
		href: '/contact',
		icon: 'contact',
		color: 'error'
	},
]

const {pathname} = Astro.url

const metaDescription = 'Experienced Frontend Developer with expertise in React, Svelte and NextJS. Passionate about exploring new technologies and contributing to impactful projects. Enthusiastic about Backend Development.'
---

<!doctype html>
<html lang="en">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="description" content={metaDescription} />
		<meta name="keywords" content="portfolio, webdeveloper, frontend" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		

		<!-- Open Graph Meta -->
		<meta property="og:title" content="Dawid Seipold" />
		<meta property="og:description" content={metaDescription} />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content="/preview.png" />
		<meta property="og:site_name" content="Dawid Seipold" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_US" />

		<!-- Twitter Meta -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@dawidseipold" />
		<meta name="twitter:creator" content="@dawidseipold" />
		<meta name="twitter:title" content="Dawid Seipold" />
		<meta name="twitter:description" content="Astro description" />
		<meta name="twitter:image" content="/preview.png" />
	</head>
	
	<body class="p-4 pb-28 xs:p-8 xs:pb-28 flex min-h-[100dvh] justify-center items-center font-hind">
		<div class="z-10 max-w-6xl w-full mx-auto">
			<Menu pages={pages} pathname={pathname} />
			<slot />
		</div>
	</body>
</html>

<style>
	@font-face {
  font-family: 'Poppins-Variable';
  src: url('/fonts/poppins/Poppins-Variable.woff2') format('woff2'),
       url('/fonts/poppins/Poppins-Variable.woff') format('woff'),
       url('/fonts/poppins/Poppins-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}


	@font-face {
		font-family: 'Hind-Variable';
		src: url('/fonts/hind/Hind-Variable.woff2') format('woff2'),
				url('/fonts/hind/Hind-Variable.woff') format('woff'),
				url('/fonts/hind/Hind-Variable.ttf') format('truetype');
		font-weight: 300 700;
		font-display: swap;
		font-style: normal;
	}

</style>